workflows/n8n_workflows.json
[
  {
    "name": "AI Creator OS — 1. Trend Discovery",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 6
              }
            ]
          }
        },
        "id": "a1b2c3d4-0001-0001-0001-000000000001",
        "name": "Every 6 Hours",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [240, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.CREATOR_OS_API_URL }}/pipelines/trend-discovery",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.CREATOR_OS_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"account\": null\n}",
          "options": {
            "timeout": 30000,
            "response": {
              "response": {
                "fullResponse": false
              }
            }
          }
        },
        "id": "a1b2c3d4-0001-0001-0001-000000000002",
        "name": "Trigger Trend Discovery",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [480, 300]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "field1",
                "name": "pipeline",
                "value": "trend_discovery",
                "type": "string"
              },
              {
                "id": "field2",
                "name": "status",
                "value": "={{ $json.status }}",
                "type": "string"
              },
              {
                "id": "field3",
                "name": "queued_at",
                "value": "={{ $json.started_at }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "a1b2c3d4-0001-0001-0001-000000000003",
        "name": "Log Result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [720, 300]
      }
    ],
    "connections": {
      "Every 6 Hours": {
        "main": [
          [
            {
              "node": "Trigger Trend Discovery",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Trend Discovery": {
        "main": [
          [
            {
              "node": "Log Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "errorWorkflow": "AI Creator OS — Error Handler",
      "saveManualExecutions": true,
      "callerPolicy": "workflowsFromSameOwner"
    },
    "versionId": "a1b2c3d4-0001-0001-0001-000000000099",
    "meta": {
      "instanceId": "ai-creator-os"
    },
    "tags": [
      { "name": "ai-creator-os" }
    ]
  },

  {
    "name": "AI Creator OS — 2. Content Creation",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 2 * * *"
              }
            ]
          }
        },
        "id": "a1b2c3d4-0002-0002-0002-000000000001",
        "name": "Daily at 02:00 UTC",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [240, 300]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ $env.CREATOR_OS_API_URL }}/accounts",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.CREATOR_OS_API_KEY }}"
              }
            ]
          },
          "options": {
            "timeout": 15000
          }
        },
        "id": "a1b2c3d4-0002-0002-0002-000000000002",
        "name": "Get Active Accounts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [480, 300]
      },
      {
        "parameters": {
          "fieldToSplitOut": "accounts",
          "options": {}
        },
        "id": "a1b2c3d4-0002-0002-0002-000000000003",
        "name": "Split Into Accounts",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [720, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.CREATOR_OS_API_URL }}/pipelines/content-creation",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.CREATOR_OS_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"account\": \"{{ $json.username }}\"\n}",
          "options": {
            "timeout": 600000
          }
        },
        "id": "a1b2c3d4-0002-0002-0002-000000000004",
        "name": "Generate Content Per Account",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [960, 300]
      },
      {
        "parameters": {
          "unit": "minutes",
          "amount": 2,
          "resume": "timeInterval"
        },
        "id": "a1b2c3d4-0002-0002-0002-000000000005",
        "name": "Wait 2 Min Between Accounts",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [1200, 300],
        "webhookId": "a1b2c3d4-0002-0002-0002-webhook-001"
      }
    ],
    "connections": {
      "Daily at 02:00 UTC": {
        "main": [
          [
            {
              "node": "Get Active Accounts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Active Accounts": {
        "main": [
          [
            {
              "node": "Split Into Accounts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Into Accounts": {
        "main": [
          [
            {
              "node": "Generate Content Per Account",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Content Per Account": {
        "main": [
          [
            {
              "node": "Wait 2 Min Between Accounts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "errorWorkflow": "AI Creator OS — Error Handler",
      "saveManualExecutions": true
    },
    "versionId": "a1b2c3d4-0002-0002-0002-000000000099",
    "meta": {
      "instanceId": "ai-creator-os"
    },
    "tags": [
      { "name": "ai-creator-os" }
    ]
  },

  {
    "name": "AI Creator OS — 3. Publishing",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 30
              }
            ]
          }
        },
        "id": "a1b2c3d4-0003-0003-0003-000000000001",
        "name": "Every 30 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [240, 300]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "hour-min",
                "leftValue": "={{ new Date().getUTCHours() }}",
                "rightValue": 5,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              },
              {
                "id": "hour-max",
                "leftValue": "={{ new Date().getUTCHours() }}",
                "rightValue": 23,
                "operator": {
                  "type": "number",
                  "operation": "lt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a1b2c3d4-0003-0003-0003-000000000002",
        "name": "Active Hours Only (6am–11pm UTC)",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [480, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.CREATOR_OS_API_URL }}/pipelines/publishing",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.CREATOR_OS_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"account\": null\n}",
          "options": {
            "timeout": 120000
          }
        },
        "id": "a1b2c3d4-0003-0003-0003-000000000003",
        "name": "Trigger Publishing",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [720, 180]
      },
      {
        "parameters": {},
        "id": "a1b2c3d4-0003-0003-0003-000000000004",
        "name": "Skip — Outside Hours",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [720, 440]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "field1",
                "name": "pipeline",
                "value": "publishing",
                "type": "string"
              },
              {
                "id": "field2",
                "name": "status",
                "value": "={{ $json.status }}",
                "type": "string"
              },
              {
                "id": "field3",
                "name": "triggered_at",
                "value": "={{ $json.started_at }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "a1b2c3d4-0003-0003-0003-000000000005",
        "name": "Log Publish Run",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [960, 180]
      }
    ],
    "connections": {
      "Every 30 Minutes": {
        "main": [
          [
            {
              "node": "Active Hours Only (6am–11pm UTC)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Active Hours Only (6am–11pm UTC)": {
        "main": [
          [
            {
              "node": "Trigger Publishing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Skip — Outside Hours",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Publishing": {
        "main": [
          [
            {
              "node": "Log Publish Run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "saveManualExecutions": true
    },
    "versionId": "a1b2c3d4-0003-0003-0003-000000000099",
    "meta": {
      "instanceId": "ai-creator-os"
    },
    "tags": [
      { "name": "ai-creator-os" }
    ]
  },

  {
    "name": "AI Creator OS — 4. Engagement Analytics",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 12
              }
            ]
          }
        },
        "id": "a1b2c3d4-0004-0004-0004-000000000001",
        "name": "Every 12 Hours",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [240, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.CREATOR_OS_API_URL }}/pipelines/analytics",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.CREATOR_OS_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"account\": null\n}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "a1b2c3d4-0004-0004-0004-000000000002",
        "name": "Collect Engagement Metrics",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [480, 300]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "field1",
                "name": "pipeline",
                "value": "analytics",
                "type": "string"
              },
              {
                "id": "field2",
                "name": "status",
                "value": "={{ $json.status }}",
                "type": "string"
              },
              {
                "id": "field3",
                "name": "collected_at",
                "value": "={{ $json.started_at }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "a1b2c3d4-0004-0004-0004-000000000003",
        "name": "Log Analytics Run",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [720, 300]
      }
    ],
    "connections": {
      "Every 12 Hours": {
        "main": [
          [
            {
              "node": "Collect Engagement Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect Engagement Metrics": {
        "main": [
          [
            {
              "node": "Log Analytics Run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "errorWorkflow": "AI Creator OS — Error Handler",
      "saveManualExecutions": true
    },
    "versionId": "a1b2c3d4-0004-0004-0004-000000000099",
    "meta": {
      "instanceId": "ai-creator-os"
    },
    "tags": [
      { "name": "ai-creator-os" }
    ]
  },

  {
    "name": "AI Creator OS — 5. Learning & Optimization",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 3 * * *"
              }
            ]
          }
        },
        "id": "a1b2c3d4-0005-0005-0005-000000000001",
        "name": "Daily at 03:00 UTC",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [240, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.CREATOR_OS_API_URL }}/pipelines/analytics",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.CREATOR_OS_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"account\": null\n}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "a1b2c3d4-0005-0005-0005-000000000002",
        "name": "Refresh Metrics First",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [480, 300]
      },
      {
        "parameters": {
          "unit": "minutes",
          "amount": 3,
          "resume": "timeInterval"
        },
        "id": "a1b2c3d4-0005-0005-0005-000000000003",
        "name": "Wait 3 Min for Metrics",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [720, 300],
        "webhookId": "a1b2c3d4-0005-0005-0005-webhook-001"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.CREATOR_OS_API_URL }}/pipelines/learning",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.CREATOR_OS_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"account\": null\n}",
          "options": {
            "timeout": 300000
          }
        },
        "id": "a1b2c3d4-0005-0005-0005-000000000004",
        "name": "Run Learning Agent",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [960, 300]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "field1",
                "name": "message",
                "value": "Strategy memory updated for all accounts",
                "type": "string"
              },
              {
                "id": "field2",
                "name": "pipeline",
                "value": "learning",
                "type": "string"
              },
              {
                "id": "field3",
                "name": "status",
                "value": "={{ $json.status }}",
                "type": "string"
              },
              {
                "id": "field4",
                "name": "completed_at",
                "value": "={{ $now.toISO() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "a1b2c3d4-0005-0005-0005-000000000005",
        "name": "Strategy Updated",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [1200, 300]
      }
    ],
    "connections": {
      "Daily at 03:00 UTC": {
        "main": [
          [
            {
              "node": "Refresh Metrics First",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Refresh Metrics First": {
        "main": [
          [
            {
              "node": "Wait 3 Min for Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 3 Min for Metrics": {
        "main": [
          [
            {
              "node": "Run Learning Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Learning Agent": {
        "main": [
          [
            {
              "node": "Strategy Updated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "errorWorkflow": "AI Creator OS — Error Handler",
      "saveManualExecutions": true
    },
    "versionId": "a1b2c3d4-0005-0005-0005-000000000099",
    "meta": {
      "instanceId": "ai-creator-os"
    },
    "tags": [
      { "name": "ai-creator-os" }
    ]
  },

  {
    "name": "AI Creator OS — Error Handler",
    "nodes": [
      {
        "parameters": {},
        "id": "a1b2c3d4-0006-0006-0006-000000000001",
        "name": "On Workflow Error",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [240, 300]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "field1",
                "name": "workflow_name",
                "value": "={{ $json.workflow.name }}",
                "type": "string"
              },
              {
                "id": "field2",
                "name": "error_message",
                "value": "={{ $json.execution.error.message }}",
                "type": "string"
              },
              {
                "id": "field3",
                "name": "failed_node",
                "value": "={{ $json.execution.lastNodeExecuted }}",
                "type": "string"
              },
              {
                "id": "field4",
                "name": "execution_id",
                "value": "={{ $json.execution.id }}",
                "type": "string"
              },
              {
                "id": "field5",
                "name": "failed_at",
                "value": "={{ $now.toISO() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "a1b2c3d4-0006-0006-0006-000000000002",
        "name": "Format Error",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [480, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/scheduled_jobs",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"job_type\": \"error_log\",\n  \"scheduled_at\": \"{{ $json.failed_at }}\",\n  \"executed_at\": \"{{ $json.failed_at }}\",\n  \"status\": \"failed\",\n  \"error_message\": \"[{{ $json.workflow_name }}] {{ $json.failed_node }}: {{ $json.error_message }}\"\n}",
          "options": {
            "timeout": 10000
          }
        },
        "id": "a1b2c3d4-0006-0006-0006-000000000003",
        "name": "Log Error to Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [720, 300]
      }
    ],
    "connections": {
      "On Workflow Error": {
        "main": [
          [
            {
              "node": "Format Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Error": {
        "main": [
          [
            {
              "node": "Log Error to Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "saveManualExecutions": true
    },
    "versionId": "a1b2c3d4-0006-0006-0006-000000000099",
    "meta": {
      "instanceId": "ai-creator-os"
    },
    "tags": [
      { "name": "ai-creator-os" }
    ]
  }
]
